.cover {
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url('laptop.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    align-items: center;
    color: white;
    font-size: 30px;
   
}
.container{
  margin-top: 100px;
   display: flex;
   justify-content: center;
}

.cover-sub{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

#name{
  margin-top: 400px;

font-size: 100px;
margin-bottom: 20px;
}

#sub-name{
 font-style: italic;
 font-size: 40px;
}

a{
    text-decoration: none;
}
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    margin-left: 90px;
    margin-top: 20px;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text{
    text-align: center;
    margin-left: 40px;
    font-size: 20px;
  }
  text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
.icons{

}

#fa-icon,
#li-icon,
#in-icon,
#ma-icon{
font-size: 40px;
margin-right: 10px;
}

.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(163, 140, 39, 0) }
}

